h1, h5, p, h3, h6, button {
    text-align: center;
    margin: 0 auto;
}

.buttons {
    width: 50%;
    height: 60px;
    margin: auto;
    
}

.ts {
    color:rgb(177, 177, 179);
    width: 90%;
    text-align: center;
    margin: 30px auto;
    /* opacity: 0.5 */
    border-radius: 5%;
    border: solid 1px black;
    padding: 5%;
    /* padding-right: 10%;
    padding-left: 10%; */
    background-image: url("https://crawlspacemagazine.files.wordpress.com/2014/04/cool-background-textures-eo_textures.jpg");
    /* background: linear-gradient(black,rgb(177, 177, 179)); */
    font-family: 'Roboto', sans-serif;
    position: relative;
}



.btn {
    margin: auto;
    background: #16162F
}

#studentbutton {
    position: fixed;
    left: 50%;
    height: 50px;
    margin-left: 5px;
}

#teacherbutton {
    position: fixed;
    right: 50%;
    height: 50px;
    margin-right: 5px;
}

body {
    /* background: #97B3D4; */
    background: linear-gradient(black,rgb(177, 177, 179));
    /* background-repeat: no-repeat; */
    /* background-image: url("https://crawlspacemagazine.files.wordpress.com/2014/04/cool-background-textures-eo_textures.jpg"); */
    /* margin-top: 50px; */
    padding: 70px;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif; 
    color:white;
}

.lead{
    color:rgb(177, 177, 179)
}

.addUnitbtn{
    position: absolute;
    bottom: 0;
    left: 0
}