/* Login page styling */
.login {
    width: 50%;
    text-align: center;
    margin: 30px auto;
}


#classroomName {
    padding: 3px 0;
}

#createlogin {
    margin-right: 5px;
}

#teacherlogin {
    margin-left: 5px;
}