#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
    height: 50px;
    background: rgb(22, 22, 27);
    z-index: 99;
    border-bottom: solid 4px rgb(109, 109, 187);
}

#navbar a {
    color: lightgrey;
}

.logo{
    position: absolute;
    right: 0;
}
.logotitle{
    position: absolute;
    left: 0;
    color: white;
}

.logoContainer{
    position: fixed;
    left: 0;
    margin-left: 70px;
}