.posts {
    border: 1px solid black;
    padding: 10px;
    margin: 5px auto;
}

.post_wrapper {
    margin-top: 15px
}

.post-card-title{
    color: black
}

.list-group{
    margin: 6px 0px 6px 26px;
    padding-left: 20px;
}



.row .card-text{
    color: black;
    font-weight: bold;
}

.row input {
    margin: 10px;
    border-color: rgb(109, 109, 187);
    border-radius: 7px;

}

.list-group-item{
    color: black;
    font-weight: lighter;
    margin: 2px;
    /* background-color:rgb(49, 66, 92); */
    border: 1px solid grey;
}