.main {
    margin-left: 180px;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #3E7CAE;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

p:first-of-type {
    border-top: 1px black solid;
}

p {
    border-bottom: 1px black solid;
}