.main {
    margin-left: 180px;
}

.sidebar {
    padding: 20px;
    height: 100%; 
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay below */
    bottom: 0; /* Stay at the bottom */
    left: 0;   /* Stay to the left */
    background-image: url("https://crawlspacemagazine.files.wordpress.com/2014/04/cool-background-textures-eo_textures.jpg");
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px;
    text-align: center;
}

p:first-of-type {
    border-top: 1px black solid;
}

p {
    border-bottom: 1px black solid;
}

.unitList {
    /* background-color: white; */
    /* margin: 10px; */
    border-color: rgb(109, 109, 187);
    border-radius: 7px;
    border: 1px solid white;

}

#newbtn{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;

}

#newUnit {
    /* margin: 10px; */
    border-color: rgb(109, 109, 187);
    border-radius: 7px;
    width: 95%;
    margin: 0 auto;
}