.classinput {
    margin: 0 auto;
    width: 50%;
}

.classselect {
    width: 80%;
    margin: 30px auto;
    color: rgba(177, 177, 179, 0.61);
}

.container {
    margin: 30px auto;
}

.card {
    background-image: url("https://crawlspacemagazine.files.wordpress.com/2014/04/cool-background-textures-eo_textures.jpg");
}

.card-subtitle {
    color: white!important;
    font-size: 25px;
}

.card-text {
    color: rgb(177, 177, 179);
    
}

.postCard {
    background: white
}

.teacherpostcard {
    border-top: none;
    border: none
}

.logo{
    margin: 0;
    padding: 0
}