.classinput {
    margin: 0 auto;
    width: 50%;
}

.classselect {
    width: 80%;
    margin: 30px auto;
}

.container {
    margin: 30px auto;
}

.card {
    background: dodgerblue;
}

.card-subtitle {
    color: white!important;
    font-size: 25px;
}

.card-text {
    color: black;
    
}